[Desktop Entry]
Categories=Settings;
Exec=biglinux-welcome
Icon=biglinux-welcome
Name=BigLinux Welcome
Comment=Initial setup and feature introduction for BigLinux
StartupWMClass=org.biglinux.welcome
Name[bg]=Добре дошли в BigLinux
Comment[bg]=Първоначална настройка и представяне на възможностите на BigLinux
Name[cs]=Vítejte v BigLinuxu
Comment[cs]=Počáteční nastavení a představení funkcí BigLinuxu
Name[da]=Velkommen til BigLinux
Comment[da]=Første opsætning og introduktion til funktionerne i BigLinux
Name[de]=Willkommen bei BigLinux
Comment[de]=Ersteinrichtung und Vorstellung der Funktionen von BigLinux
Name[el]=Καλώς ορίσατε στο BigLinux
Comment[el]=Αρχική ρύθμιση και παρουσίαση των λειτουργιών του BigLinux
Name[es]=Bienvenido a BigLinux
Comment[es]=Configuración inicial y presentación de las características de BigLinux
Name[et]=Tere tulemast BigLinuxisse
Comment[et]=BigLinuxi algseadistus ja funktsioonide tutvustus
Name[fi]=Tervetuloa BigLinuxiin
Comment[fi]=BigLinuxin alkuasetukset ja ominaisuuksien esittely
Name[fr]=Bienvenue sur BigLinux
Comment[fr]=Configuration initiale et présentation des fonctionnalités de BigLinux
Name[he]=ברוכים הבאים אל BigLinux
Comment[he]=הגדרה ראשונית והיכרות עם התכונות של BigLinux
Name[hr]=Dobro došli u BigLinux
Comment[hr]=Početno postavljanje i predstavljanje značajki BigLinuxa
Name[hu]=Üdvözli a BigLinux
Comment[hu]=Kezdeti beállítások és a BigLinux funkcióinak bemutatása
Name[is]=Velkomin í BigLinux
Comment[is]=Upphafsuppsetning og kynning á eiginleikum BigLinux
Name[it]=Benvenuto in BigLinux
Comment[it]=Configurazione iniziale e presentazione delle funzionalità di BigLinux
Name[ja]=BigLinux へようこそ
Comment[ja]=BigLinux の初期設定と機能紹介
Name[ko]=BigLinux에 오신 것을 환영합니다
Comment[ko]=BigLinux 초기 설정 및 기능 소개
Name[nl]=Welkom bij BigLinux
Comment[nl]=Eerste configuratie en introductie van de functies van BigLinux
Name[no]=Velkommen til BigLinux
Comment[no]=Første oppsett og introduksjon til funksjonene i BigLinux
Name[pl]=Witamy w BigLinux
Comment[pl]=Wstępna konfiguracja i prezentacja funkcji systemu BigLinux
Name[pt]=BigLinux Welcome
Comment[pt]=Configuração inicial e apresentação dos recursos do BigLinux
Name[ro]=Bun venit în BigLinux
Comment[ro]=Configurare inițială și prezentarea caracteristicilor BigLinux
Name[ru]=Добро пожаловать в BigLinux
Comment[ru]=Первоначальная настройка и знакомство с возможностями BigLinux
Name[sk]=Vitajte v BigLinuxe
Comment[sk]=Počiatočné nastavenie a predstavenie funkcií BigLinuxu
Name[sv]=Välkommen till BigLinux
Comment[sv]=Första inställningarna och presentation av funktionerna i BigLinux
Name[tr]=BigLinux'a Hoş Geldiniz
Comment[tr]=BigLinux için ilk kurulum ve özelliklerin tanıtımı
Name[uk]=Ласкаво просимо до BigLinux
Comment[uk]=Початкове налаштування та знайомство з можливостями BigLinux
Name[zh]=欢迎使用 BigLinux
Comment[zh]=BigLinux 的初始设置和功能介绍
StartupNotify=true
Terminal=false
Type=Application
